.main-hero {
  display: flex;
  width: 100%;
  height: 320px;
  background-image: url('pictures/you_are_what_you _eat.png');
  background-size: cover;
  
  &.content-right {
    align-content: center;
  }

  blockquote {
    position: relative;
    width: 200px;
    font-size: 1.5em;
    color: blue;
  }
}