
.body-final { 

  &.a {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    width: 428px;
    height: 1500px;
    background-color: wheat;
  }

  &.b {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    width: 1024;
    height: 1500px;
    background-color:black;
  }
  
  &.c {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    width: 1778px;
    height: 1500px;
    background-color:red;
  }

}