
&.mobile {
    background-image: url('pictures/faded_mobile.png');
  }

  &.tablet {
    width: 100%;
    height: 520px;
    background-image: url('pictures/faded_tablet.png');
  }

  &.desktop {
    width: 100%;
    height: 720px;
    background-image: url('pictures/faded_desktop.png');
  }

  <div class="main-hero content-right tablet">
    
        </div>
        <div class="main-hero content-right desktop">
    
        </div>
